/*

menu: #c5c5b2
conteudo: #e8e8d9
link: #4b566a
h1: #828271

*/

body{
    background: #d2d2c1 url('../img/fundo.png');
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#principal{
    width: 900px;
}

#menu{
    background: #c5c5b2;
    padding: 20px;
}

#conteudo{
    background-color: #e8e8d9;
    padding: 10px;
}

#rodape{
    text-align: center;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
}

h1{
    color: #828271;
    font-size: 1.2em;
}